body 
{
    font-style:oblique;
  background-color: #fc6998;
  text-align: center;
}
h1 
{
  color: #2b58de;
  border-style: solid;
  border-color:white;  
  border-width:2px;
  padding: 10px;
}
#nome
{

  font-size:40px;
  color: #fc6998;
  background: white;
}
a
{
  color: blue;
  font-size: 20px;
  border-style: dashed;
  border-color: darkblue;
  border-width: 2px;
  padding: 10px;
  border-radius: 20px;
}

p{
  color: rgb(22, 201, 255);
  word-spacing: 10px;
  font-variant: small-caps;
  font-size: 20px;
  font-family: Arial;
}

.informacoes{
    color: darkblue;
    font-size: 18px;
}